<a href="https://colab.research.google.com/github/kenttw/kent-ai-learning-notebook/blob/master/Machine_Learning_Exercise/NER/Lstm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Reference Tutorial Code](https://towardsdatascience.com/named-entity-recognition-ner-using-keras-bidirectional-lstm-28cd3f301f54)

In [1]:
!pip3 install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)

In [6]:
import gdown
url = 'https://drive.google.com/uc?id=1Wkl5o1N1wZZsaBs5rJ6Dl3-JKyM0_kNL'
output = 'ner.csv'
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1Wkl5o1N1wZZsaBs5rJ6Dl3-JKyM0_kNL
To: /content/ner.csv
157MB [00:02, 69.7MB/s]

'ner.csv'

In [7]:
import gdown
url = 'https://drive.google.com/uc?id=1fN5P8AAqFTn0--JHY2uqzafIEyzYrpxU'
output = 'ner_dataset.csv'
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1fN5P8AAqFTn0--JHY2uqzafIEyzYrpxU
To: /content/ner_dataset.csv
15.2MB [00:00, 36.4MB/s]

'ner_dataset.csv'

In [9]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [10]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [11]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.head()

    Sentence #           Word  POS Tag  Word_idx  Tag_idx
0  Sentence: 1      Thousands  NNS   O     20358       15
1          NaN             of   IN   O     12002       15
2          NaN  demonstrators  NNS   O     12779       15
3          NaN           have  VBP   O     14620       15
4          NaN        marched  VBN   O      5621       15

In [12]:
# Fill na
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))
# Visualise data
data_group.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

        Sentence #  ...                                            Tag_idx
0      Sentence: 1  ...  [15, 15, 15, 15, 15, 15, 8, 15, 15, 15, 15, 15...
1     Sentence: 10  ...  [14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 1...
2    Sentence: 100  ...  [15, 15, 9, 15, 15, 15, 15, 15, 8, 15, 15, 15,...
3   Sentence: 1000  ...       [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]
4  Sentence: 10000  ...  [8, 15, 15, 11, 1, 15, 9, 15, 8, 15, 14, 15, 1...

[5 rows x 6 columns]

In [13]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

## Padding 字元
* tags -> "o"
* tokens -> 直接拿最後一個 "overshot" <pre>list(set(data['Word'].to_list()))[-1]</pre>

In [14]:
list(set(data['Word'].to_list()))[-1]

'Ghazi'

In [15]:
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [16]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [17]:
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [18]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  35179
output_dim:  64
input_length:  104
n_tags:  17

In [19]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [20]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [21]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 104, 64)           2251456
_________________________________________________________________
bidirectional (Bidirectional (None, 104, 128)          66048
_________________________________________________________________
lstm_1 (LSTM)                (None, 104, 64)           49408
_________________________________________________________________
time_distributed (TimeDistri (None, 104, 17)           1105
=================================================================
Total params: 2,368,017
Trainable params: 2,368,017
Non-trainable params: 0
_________________________________________________________________
26/26 [==============================] - 144s 5s/step - loss: 1.0915 - accuracy: 0.8293 - val_loss: 0.3676 - val_accuracy: 0.9681
26/26 [==============================] - 129s 5s/step - loss: 0.3432 - accuracy: 0.9677 - val_loss: 0.3184 - val_accuracy: 0.9681
26/26 [==============================] - 124s 5s/step - loss: 0.3765 - accuracy: 0.9675 - val_loss: 0.6325 - val_accuracy: 0.9642
26/26 [==============================] - 128s 5s/step - loss: 0.4321 - accuracy: 0.9591 - val_loss: 0.3199 - val_accuracy: 0.9678
26/26 [==============================] - 137s 5s/step - loss: 0.3198 - accuracy: 0.9672 - val_loss: 0.3038 - val_accuracy: 0.9680
26/26 [==============================] - 133s 5s/step - loss: 0.2828 - accuracy: 0.9676 - val_loss: 0.2640 - val_accuracy: 0.9681
26/26 [==============================] - 132s 5s/step - loss: 0.2637 - accuracy: 0.9677 - val_loss: 0.2595 - val_accuracy: 0.9681
26/26 [==============================] - 133s 5s/step - loss: 0.2559 - accuracy: 0.9677 - val_loss: 0.2481 - val_accuracy: 0.9681
26/26 [==============================] - 132s 5s/step - loss: 0.2472 - accuracy: 0.9677 - val_loss: 0.2476 - val_accuracy: 0.9681
26/26 [==============================] - 146s 6s/step - loss: 0.2478 - accuracy: 0.9678 - val_loss: 0.2354 - val_accuracy: 0.9681
26/26 [==============================] - 138s 5s/step - loss: 0.2324 - accuracy: 0.9678 - val_loss: 0.2315 - val_accuracy: 0.9681
26/26 [==============================] - 138s 5s/step - loss: 0.2310 - accuracy: 0.9678 - val_loss: 0.2350 - val_accuracy: 0.9682
26/26 [==============================] - 139s 5s/step - loss: 0.2231 - accuracy: 0.9678 - val_loss: 0.2207 - val_accuracy: 0.9682
26/26 [==============================] - 135s 5s/step - loss: 0.2177 - accuracy: 0.9678 - val_loss: 0.2206 - val_accuracy: 0.9682
26/26 [==============================] - 135s 5s/step - loss: 0.2125 - accuracy: 0.9678 - val_loss: 0.2181 - val_accuracy: 0.9682
26/26 [==============================] - 137s 5s/step - loss: 0.2089 - accuracy: 0.9679 - val_loss: 0.2148 - val_accuracy: 0.9682
26/26 [==============================] - 155s 6s/step - loss: 0.2099 - accuracy: 0.9679 - val_loss: 0.2260 - val_accuracy: 0.9683
26/26 [==============================] - 166s 6s/step - loss: 0.2057 - accuracy: 0.9679 - val_loss: 0.2116 - val_accuracy: 0.9683
26/26 [==============================] - 145s 6s/step - loss: 0.1998 - accuracy: 0.9679 - val_loss: 0.2121 - val_accuracy: 0.9683
26/26 [==============================] - 149s 6s/step - loss: 0.2026 - accuracy: 0.9680 - val_loss: 0.2126 - val_accuracy: 0.9684
26/26 [==============================] - 153s 6s/step - loss: 0.1988 - accuracy: 0.9681 - val_loss: 0.2073 - val_accuracy: 0.9685
26/26 [==============================] - 150s 6s/step - loss: 0.1724 - accuracy: 0.9682 - val_loss: 0.1672 - val_accuracy: 0.9684
26/26 [==============================] - 143s 5s/step - loss: 0.1548 - accuracy: 0.9682 - val_loss: 0.1734 - val_accuracy: 0.9685
26/26 [==============================] - 138s 5s/step - loss: 0.1393 - accuracy: 0.9682 - val_loss: 0.1352 - val_accuracy: 0.9684
26/26 [==============================] - 134s 5s/step - loss: 0.1209 - accuracy: 0.9681 - val_loss: 0.1230 - val_accuracy: 0.9684

In [23]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp(
'Jim bought 300 shares of Acme Corp. in 2006. And producing an annotated block of text that highlights the names of entities: [Jim]Person bought 300 shares of [Acme Corp.]Organization in [2006]Time. In this example, a person name consisting of one token, a two-token company name and a temporal expression have been detected and classified.State-of-the-art NER systems for English produce near-human performance. For example, the best system entering MUC-7 scored 93.39% of F-measure while human annotators scored 97.60% and 96.95%.[1][2]'
)
displacy.render(text, style = 'ent', jupyter=True)