# [題目網址](https://www.kaggle.com/c/data-science-london-scikit-learn/discussion?sortBy=top&group=all&page=1&pageSize=20&category=all&kind=all)
* 大神的解法 : http://nbviewer.jupyter.org/gist/luanjunyi/6632d4c0f92bc30750f4

In [ ]:
# 以下個人土炮作的 baseline

In [22]:
import pandas as pd
from sklearn import metrics

In [11]:
train = pd.read_csv("./train.csv", header=None,)

In [13]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [71]:
train.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597,...,0.030651,0.022951,-0.542491,-0.011608,-0.483507,0.033371,0.567185,0.006849,-0.892659,0.609451
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520,...,1.011645,1.001375,2.239939,1.022456,2.121281,1.007044,2.227876,0.997635,2.022022,2.045439
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812,...,-3.379194,-2.971125,-7.840890,-2.999564,-7.124105,-2.952358,-5.452254,-3.473913,-8.051722,-7.799086
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220,...,-0.659457,-0.696032,-2.121943,-0.664550,-1.879247,-0.642861,-1.059786,-0.691162,-2.220126,-0.565041
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110,...,0.049416,0.049778,-0.568262,-0.028097,-0.493575,0.037732,0.455474,0.038284,-0.855470,0.779944
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364,...,0.747031,0.699917,0.939348,0.651374,1.005795,0.691800,2.122157,0.693535,0.388698,1.992193
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426,...,2.844792,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,3.492548,5.774120,6.803984

In [70]:
lablel = pd.read_csv("./trainLabels.csv", header=None,)
lablel.describe()

                0
count  1000.00000
mean      0.51000
std       0.50015
min       0.00000
25%       0.00000
50%       1.00000
75%       1.00000
max       1.00000

In [19]:
X = train.values

In [20]:
Y = lablel.values

In [26]:
from sklearn import preprocessing

In [94]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.25, random_state=42)

# Do Normalization

In [95]:
from sklearn.preprocessing import StandardScaler
stds = StandardScaler()
X_train_scaled = stds.fit_transform(X_train)
X_test_scaled = stds.transform(X_test)

In [96]:
from sklearn.linear_model import LogisticRegression
clf_l2_LR = LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=0.1, 
                               fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, 
                               solver='liblinear', max_iter=100, multi_class='ovr', verbose=0, 
                               warm_start=False, n_jobs=1)
clf_l2_LR.fit(X_train_scaled,y_train)
predict_y = clf_l2_LR.predict(X_test_scaled)
print("accuracy_score",metrics.accuracy_score(y_test,predict_y))
print("f1_score",metrics.f1_score(y_test,predict_y,average='micro'))

accuracy_score 0.816
f1_score 0.816

/usr/local/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [97]:
clf_l2_LR.coef_

array([[-0.02118331, -0.08542445, -0.09990941,  0.06517018,  0.26168032,
         0.0098623 , -0.25043439,  0.07496808,  0.01850172,  0.12593685,
        -0.11030436, -0.05367942,  0.55345431, -0.02278321,  0.97030431,
        -0.20662183,  0.02354005, -0.03260219,  0.28719024,  0.05224221,
        -0.1170166 , -0.11074254,  0.04626387, -0.01548969,  0.0024887 ,
        -0.06698517,  0.14286854, -0.09085551, -0.01399737, -0.21406336,
        -0.13665458,  0.01360242, -0.30839966, -0.18313255,  0.51981755,
         0.08052794, -0.49494674,  0.17120429, -0.07361567,  0.58098046]])

# Build a Final Classifier

In [105]:
import numpy as np
from sklearn.preprocessing import StandardScaler
stds_final = StandardScaler()
X_train = stds_final.fit_transform(X)

In [106]:
from sklearn.linear_model import LogisticRegression
clf_l2_LR = LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=0.1, 
                               fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, 
                               solver='liblinear', max_iter=100, multi_class='ovr', verbose=0, 
                               warm_start=False, n_jobs=1)
clf_l2_LR.fit(X_train,Y)
predict_y = clf_l2_LR.predict(X_train)
print("accuracy_score",metrics.accuracy_score(Y,predict_y))
print("f1_score",metrics.f1_score(Y,predict_y,average='micro'))

accuracy_score 0.838
f1_score 0.838

/usr/local/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Do Prediction

In [102]:
test = pd.read_csv("./test.csv", header=None,)
test.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.011814,0.004261,-0.001708,0.008614,1.262429,0.006003,0.480585,-0.017228,0.006883,-0.006664,...,-0.018914,0.007282,-0.476895,0.016175,-0.508713,-0.002295,0.451234,-0.002042,-1.003258,0.539873
std,1.009514,1.011432,0.996685,0.989010,4.527492,0.999623,2.102394,2.204673,0.989207,0.991570,...,1.003450,1.003326,2.202519,1.015779,2.097448,1.008415,2.187677,1.000152,1.979629,2.011646
min,-3.568633,-4.238067,-3.587473,-3.646144,-17.296514,-3.500646,-9.157707,-7.867021,-4.037177,-3.666707,...,-4.545617,-3.914329,-8.510309,-4.702577,-8.860839,-3.579675,-9.034930,-3.820679,-8.174851,-7.945400
25%,-0.669886,-0.678792,-0.665240,-0.662560,-1.669099,-0.688766,-0.894049,-1.521762,-0.654169,-0.665439,...,-0.689220,-0.664532,-1.986040,-0.673810,-1.908190,-0.689363,-1.071005,-0.667359,-2.293291,-0.717376
50%,0.006104,0.010758,0.007384,0.009027,1.123982,0.011476,0.534536,-0.021020,-0.006291,-0.005408,...,-0.033990,-0.003370,-0.459278,0.013170,-0.481508,-0.000858,0.419585,-0.003255,-1.004007,0.637040
75%,0.703350,0.684755,0.658111,0.683506,4.002391,0.690966,1.890960,1.460165,0.676678,0.654349,...,0.655757,0.682167,1.026158,0.691832,0.957351,0.666330,1.938350,0.667539,0.321595,1.897324
max,3.843549,3.538868,3.716102,3.667817,20.551947,4.565496,7.882210,7.391208,3.706671,3.322649,...,3.624639,4.251316,8.598575,4.157051,6.851583,3.911722,8.624332,3.860112,7.125848,9.464492

In [107]:
test_scaled = stds_final.transform(test)

In [109]:
test_result = clf_l2_LR.predict(test_scaled)

In [129]:
test_result_pd = pd.DataFrame(test_result,columns=['Solution'])
test_result_pd.index += 1

In [130]:
test_result_pd.describe()

          Solution
count  9000.000000
mean      0.502000
std       0.500024
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [132]:
test_result_pd

      Solution
1            1
2            0
3            1
4            0
5            0
6            0
7            0
8            1
9            0
10           0
11           1
12           1
13           1
14           0
15           0
16           0
17           0
18           1
19           1
20           1
21           0
22           1
23           1
24           0
25           1
26           1
27           1
28           0
29           1
30           0
...        ...
8971         1
8972         0
8973         1
8974         1
8975         0
8976         1
8977         0
8978         1
8979         1
8980         1
8981         1
8982         1
8983         1
8984         0
8985         0
8986         1
8987         0
8988         1
8989         1
8990         0
8991         0
8992         0
8993         0
8994         1
8995         1
8996         1
8997         1
8998         1
8999         0
9000         1

[9000 rows x 1 columns]

In [131]:
test_result_pd.to_csv("./predict_result.csv",index=True,index_label='Id')