# Data Clean Simple Tutorial
* Reference :https://machinelearningmastery.com/basic-data-cleaning-for-machine-learning/

In [1]:
import pandas as pd

url="https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv"
df_csv=pd.read_csv(url,header=None)

In [2]:
df_csv.head(10)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
5,6,54,1438.13,544.91,82,135000.0,44.67,6.92,1570.0,0.15,...,608.28,200.00,150.00,52.22,4.06,0,30967.25,65.77,7.85,1
6,7,116,1446.29,580.94,97,290000.0,41.53,6.24,3660.0,0.15,...,1060.66,403.11,164.58,114.82,6.44,0,31258.37,65.79,7.85,1
7,8,57,28.68,715.39,141,142500.0,51.67,0.83,1810.0,0.02,...,500.00,360.56,165.71,132.47,3.02,0,51985.06,65.67,6.25,0
8,9,188,964.23,456.23,22,470000.0,38.90,5.89,3720.0,0.15,...,1569.24,492.44,256.77,124.72,6.11,0,28871.82,65.67,7.36,1
9,10,64,903.02,274.88,33,160000.0,41.22,7.90,1850.0,0.19,...,471.70,223.61,182.83,50.12,2.58,0,32053.95,65.58,7.35,1

In [3]:
import numpy as np
count_unique = df_csv.nunique()

## Count the number of unique values
* delete those column with low number of the unique values

In [4]:
drop_list = [ i for i, v in enumerate(count_unique) if v<=2]
drop_list

[22, 45, 49]

In [5]:
df_csv.drop(drop_list, axis=1)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,46,47,48
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,89,69,2850.00,1000.00,763.16,135.46,3.73,33243.19,65.74,7.95
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,89,69,5750.00,11500.00,9593.48,1648.80,0.60,51572.04,65.73,6.26
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,89,69,1400.00,250.00,150.00,45.13,9.33,31692.84,65.81,7.84
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,89,69,6041.52,761.58,453.21,144.97,13.33,37696.21,65.67,8.07
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,89,69,1320.04,710.63,512.54,109.16,2.58,29038.17,65.66,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,82,50,381.84,254.56,84.85,146.97,4.50,2593.50,65.85,6.39
933,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,82,50,284.60,180.00,150.00,51.96,1.90,4361.25,65.70,6.53
934,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,82,50,402.49,180.00,180.00,0.00,2.24,2153.05,65.91,6.12
935,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,82,50,402.49,180.00,90.00,73.48,4.47,2421.43,65.97,6.32
936,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,82,50,254.56,254.56,127.28,180.00,2.00,3782.68,65.65,6.26

## Count the percentage of unique values out of all rows and

In [6]:
[(i,v) for i,v in enumerate(count_unique/df_csv.shape[0]*100) ]

[(0, 25.400213447171826),
 (1, 31.696905016008536),
 (2, 98.93276414087512),
 (3, 99.57310565635005),
 (4, 19.103521878335112),
 (5, 40.0213447171825),
 (6, 87.51334044823906),
 (7, 65.95517609391676),
 (8, 59.87193169690501),
 (9, 6.08324439701174),
 (10, 61.5795090715048),
 (11, 6.296691568836713),
 (12, 7.790821771611527),
 (13, 11.419423692636073),
 (14, 5.656350053361793),
 (15, 9.711846318036287),
 (16, 95.30416221985058),
 (17, 86.44610458911419),
 (18, 18.14300960512273),
 (19, 5.656350053361793),
 (20, 7.257203842049092),
 (21, 0.96051227321238),
 (22, 0.10672358591248667),
 (23, 9.818569903948772),
 (24, 0.96051227321238),
 (25, 0.8537886872998933),
 (26, 0.96051227321238),
 (27, 32.87086446104589),
 (28, 47.705442902881536),
 (29, 41.83564567769477),
 (30, 11.419423692636073),
 (31, 4.482390608324439),
 (32, 0.42689434364994666),
 (33, 4.8025613660619),
 (34, 15.048025613660618),
 (35, 11.739594450373533),
 (36, 0.32017075773745995),
 (37, 80.89647812166488),
 (38, 0.96051227321238),
 (39, 0.96051227321238),
 (40, 41.40875133404482),
 (41, 23.479188900747065),
 (42, 68.7299893276414),
 (43, 69.26360725720384),
 (44, 53.255069370330844),
 (45, 0.21344717182497333),
 (46, 100.0),
 (47, 18.036286019210245),
 (48, 30.52294557097118),
 (49, 0.21344717182497333)]