[WOE](https://www.listendata.com/2015/03/weight-of-evidence-woe-and-information.html#Steps-of-Calculating-WOE)

In [2]:
#Load Required Packages
import pandas as pd
import numpy as np

In [6]:
#Read Data
data = pd.read_csv("https://stats.idre.ucla.edu/stat/data/binary.csv")

In [7]:
data.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

In [8]:
#Empty Dataframe
newDF,woeDF = pd.DataFrame(), pd.DataFrame()

In [29]:
cols = data.columns
print(cols)
target = 'admit'
bins = 10

Index(['admit', 'gre', 'gpa', 'rank'], dtype='object')

In [31]:
for ivars in cols[~cols.isin([target])]:
#     print(ivars)
    if(data[ivars].dtype.kind in 'bifc') and (len(np.unique(data[ivars]))>10):
#         print(data[ivars].dtype.kind)
        print(ivars)
        binned_x = pd.qcut(data[ivars], bins,  duplicates='drop')
        
        print(binned_x)
        
        d0 = pd.DataFrame({'x': binned_x, 'y': data[target]})
        
        print(d0)
        
        break

gre
0      (219.999, 440.0]
1        (620.0, 660.0]
2        (740.0, 800.0]
3        (620.0, 660.0]
4        (500.0, 520.0]
             ...
395      (580.0, 620.0]
396      (520.0, 560.0]
397      (440.0, 500.0]
398      (680.0, 740.0]
399      (580.0, 620.0]
Name: gre, Length: 400, dtype: category
Categories (10, interval[float64]): [(219.999, 440.0] < (440.0, 500.0] < (500.0, 520.0] < (520.0, 560.0] ... (620.0, 660.0] < (660.0, 680.0] < (680.0, 740.0] < (740.0, 800.0]]
                    x  y
0    (219.999, 440.0]  0
1      (620.0, 660.0]  1
2      (740.0, 800.0]  1
3      (620.0, 660.0]  1
4      (500.0, 520.0]  0
..                ... ..
395    (580.0, 620.0]  0
396    (520.0, 560.0]  0
397    (440.0, 500.0]  0
398    (680.0, 740.0]  0
399    (580.0, 620.0]  0

[400 rows x 2 columns]

In [27]:
pd.qcut(range(0,11), 5)

[(-0.001, 2.0], (-0.001, 2.0], (-0.001, 2.0], (2.0, 4.0], (2.0, 4.0], ..., (4.0, 6.0], (6.0, 8.0], (6.0, 8.0], (8.0, 10.0], (8.0, 10.0]]
Length: 11
Categories (5, interval[float64]): [(-0.001, 2.0] < (2.0, 4.0] < (4.0, 6.0] < (6.0, 8.0] < (8.0, 10.0]]

### 計算 IV 值
IV = ∑ (% of non-events - % of events) * WOE